GATEWAY_SERVICE_TOKEN=store_internal_token_123

# --- DOCKER ---
DB_NAME=project_recommend
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=recommendations-db
DB_PORT=5432

# --- LOCAL ---
# DB_NAME=project_recommend
# DB_USER=postgres
# DB_PASSWORD=admin123
# DB_HOST=127.0.0.1
# DB_PORT=5432