# Flask catalog-inventory service
services/catalog-inventory-flask/venv/
services/catalog-inventory-flask/.env
services/catalog-inventory-flask/__pycache__/
services/catalog-inventory-flask/*.pyc

# Node - Express sales service
services/orders-sales-express/node_modules/
services/orders-sales-express/.env

# Django recommendations service
services/recommendations-django/venv/
services/recommendations-django/.env
services/recommendations-django/__pycache__/
services/recommendations-django/*.pyc

# Django reports service
services/reports-django/venv/
services/reports-django/.env
services/reports-django/__pycache__/
services/reports-django/*.pyc

# Flask store service
services/coverage-flask/venv/
services/coverage-flask/.env
services/coverage-flask/__pycache__/
services/coverage-flask/*.pyc

# Python cache
**/__pycache__/
**/*.pyc

# Python virtual environments
**/venv/

# Environment files
**/.env

# Node modules
**/node_modules/