APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:ycGmqDS1qGjFH2B9Rje3SfSbCH6/5Ei/ZHmJfzMzNpc=
APP_DEBUG=true
APP_URL=http://localhost:8000

# ==========================================================
# CONFIGURACIÓN PARA DOCKER (ACTIVA)
# ==========================================================
DB_CONNECTION=mysql
DB_HOST=gateway-db
DB_PORT=3306
DB_DATABASE=project_gateway
DB_USERNAME=root
DB_PASSWORD=root

# Drivers optimizados para Docker (evitan lentitud en Windows)
SESSION_DRIVER=file
CACHE_STORE=file
QUEUE_CONNECTION=sync

# URLs de Microservicios (Usando nombres de contenedores)
CATALOG_INVENTORY_SERVICE_URL=http://catalog-inventory-flask:5001
SALES_SERVICE_URL=http://orders-sales-express:3000
RECOMMENDATIONS_SERVICE_URL=http://recommendations-django:8001
REPORTS_SERVICE_URL=http://reports-django:8002
COVERAGE_SERVICE_URL=http://coverage-flask:5002

# ==========================================================
# CONFIGURACIÓN PARA LOCAL
# ==========================================================
# DB_HOST=127.0.0.1
# DB_DATABASE=project_gateway
# DB_USERNAME=root
# DB_PASSWORD=
# SESSION_DRIVER=database
# CACHE_STORE=database
# CATALOG_INVENTORY_SERVICE_URL=http://localhost:5001
# SALES_SERVICE_URL=http://localhost:3000
# RECOMMENDATIONS_SERVICE_URL=http://localhost:8001
# REPORTS_SERVICE_URL=http://localhost:8002
# COVERAGE_SERVICE_URL=http://localhost:5002

GATEWAY_SERVICE_TOKEN=store_internal_token_123