GATEWAY_BASE_URL=http://127.0.0.1:8000/api

TEST_USER_NAME=Usuario Testing
TEST_USER_EMAIL=testing@example.com
TEST_USER_PASSWORD=Password123*
TEST_USER_QUESTION=Color favorito
TEST_USER_ANSWER=Azul

TEST_PRODUCT_NAME=Producto Testing
TEST_PRODUCT_DESCRIPTION=Producto creado para pruebas de rendimiento
TEST_PRODUCT_PRICE=99.9
TEST_PRODUCT_STOCK=50

TEST_STORE_NAME=Tienda Testing
TEST_STORE_ADDRESS=Calle 1 # 1-01
TEST_STORE_CITY=Bogota
TEST_STORE_LATITUDE=4.6097
TEST_STORE_LONGITUDE=-74.0817

TEST_SALE_QUANTITY=2