FLASK_APP=app.py
FLASK_ENV=development
GATEWAY_SERVICE_TOKEN=store_internal_token_123

# --- DOCKER ---
DB_HOST=catalog-db
DB_PORT=3306
DB_NAME=project_catalog_inventory
DB_USER=root
DB_PASSWORD=root
DATABASE_URL=mysql+pymysql://root:root@catalog-db:3306/project_catalog_inventory

# --- LOCAL ---
# DB_HOST=127.0.0.1
# DB_PORT=3306
# DB_NAME=project_catalog_inventory
# DB_USER=root
# DB_PASSWORD=