GATEWAY_SERVICE_TOKEN=store_internal_token_123

# --- DOCKER ---
DB_NAME=project_reports
DB_USER=root
DB_PASSWORD=root
DB_HOST=reports-db
DB_PORT=3306

# --- LOCAL ---
# DB_NAME=project_reports
# DB_USER=root
# DB_PASSWORD=
# DB_HOST=127.0.0.1
# DB_PORT=3306