PORT=5000
FLASK_APP=app.py
GATEWAY_SERVICE_TOKEN=store_internal_token_123

# --- DOCKER ---
DB_HOST=coverage-db
DB_PORT=3306
DB_NAME=project_stores
DB_USER=root
DB_PASSWORD=root
DATABASE_URL=mysql+pymysql://root:root@coverage-db:3306/project_stores

# --- LOCAL ---
# DB_HOST=127.0.0.1
# DB_PORT=3306
# DB_NAME=project_stores
# DB_USER=root
# DB_PASSWORD=